* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --border-color: #ddd;
  --accent-color: #458eff;
  --primary-color: #4a4a4a;
  --secondary-color: #b0b0b0;
  --background-color: #343a40;
  --text-color: #f8f9fa;
  --accent-color: #888;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
